{{ template "header" .}}
    <section class="content-section">
      <h2>{{.Title}}</h2>

      <table class="striped">
        <thead>
          <tr>
            <th>UUID</th>
            <th>Created at</th>
            <th>Last seen</th>
            <th>Target</th>
            <th>Tag</th>
            <th>Group</th>
            <th>Labels</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{ range .Devices }}
          <tr>
            <td><a href="/devices/{{.Uuid}}">{{.Uuid}}</a></td>
            <td>{{tsToString .CreatedAt}}</td>
            <td>{{tsToString .LastSeen}}</td>
            <td>{{.Target}}</td>
            <td>{{.Tag}}</td>
            <td>{{.GroupName}}</td>
            <td>
              {{/* A name label (if present) is always the first one */}}
              {{ if .Labels.name }}<p><strong>name:</strong> {{.Labels.name}}</p>{{ end }}
              {{ range $key, $value := .Labels }}
                {{if ne $key "name"}}<p><strong>{{$key}}:</strong> {{$value}}</p>{{end}}
              {{ end }}
            </td>
            <td>{{ if .IsProd}}<i class="check" title="Production device"></i>{{ end }}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </section>

{{ template "footer"}}
