{{ template "header" .}}
    <section class="content-section">
      <h2>{{.Title}}</h2>

      <fieldset>
        <legend><strong>Username</strong></legend>
        <p>{{.User.Username}}</p>
      </fieldset>

      <fieldset>
        <legend><strong>Email</strong></legend>
        <p>{{if .User.Email}}{{.User.Email}}{{else}}<em>Not configured</em>{{end}}</p>
      </fieldset>

      <fieldset>
        <legend><strong>Allowed scopes</strong></legend>
        <ul>
          {{range .User.AllowedScopes.ToSlice}}
          <li>{{.}}</li>
          {{end}}
        </ul>
      </fieldset>

    </section>

    <section class="content-section">
      <h3>Actions</h3>
      <button onclick="location.href='/users/{{.User.Username}}/audit-log';">View audit log</button>
    </section>

    <section class="content-section">
      <h3>API Tokens</h3>
      <table>
        <thead>
          <tr>
            <th>Description</th>
            <th>Created</th>
            <th>Expires</th>
            <th>Scopes</th>
          </tr>
        </thead>
        <tbody>
          {{range .Tokens}}
          <tr>
            <td>{{.Description}}</td>
            <td>{{tsToString .CreatedAt}}</td>
            <td>{{tsToString .ExpiresAt}}</td>
            <td>
              {{range .Scopes.ToSlice}}
              {{.}}
              {{end}}
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </section>

{{ template "footer"}}
