{{ template "header" .}}
    <section class="content-section">
      <h2>{{.Title}}</h2>

      <fieldset>
        <legend><strong>Tag</strong></legend>
        <p>{{.Tag}}</p>
      </fieldset>

      <fieldset>
        <legend><strong>Name</strong></legend>
        <p>{{.Name}}</p>
      </fieldset>
    </section>

    <section class="content-section">
      <h2>Rollout history</h3>
      <ul>
      {{ range .Rollouts }}
        <li><a href="/updates/{{$.Prod}}/{{$.Tag}}/{{$.Name}}/rollouts/{{.}}">{{.}}</a></li>
      {{ end }}
      </ul>
    </section>


{{ template "footer"}}
