name: Unit Test
on:
  pull_request:

permissions:
  checks: write
  pull-requests: write
  contents: read

jobs:
  lint:
    name: unit-test
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '~1.24'
      - name: Clone the code
        uses: actions/checkout@v4
      - name: Run tests
        run: |
          go test -v ./...
